*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* Estilos de los mensajes */

/* .message {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
} */


.message.sender-blue {
    background-color: rgba(0, 0, 255, 0.5);
    color: rgb(255, 255, 255);
}

.message.sender-red {
    background-color: salmon;
    color: rgb(255, 255, 255);
}

/* Otros estilos */
#chat-container {
    height: 500px;
    width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  

}

#message-input {
    width: calc(100% - 75px);
    margin-right: 10px;
    
}

#send-button {
    width: 60px;
  
}
#typing{
    width: 90%;
    border: 1px solid #ccc;
    position: absolute;
    bottom: 10px;
    left: 2.5rem;
    display: flex;
    justify-content: space-between;
    padding: .5rem;


}
#typing-text{
   display: flex;
}
#messages{
    height: 80%;
    width: 80%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    /* border: solid; */
    padding-right: 1.5rem;
}
.message {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    display:block; /* Cambiado a inline-block */
}
.message.sender-red{
    text-align: end;
    padding: 5px 1rem;
    border-radius: 15px;
}
.message.sender-blue{
    text-align: end;
    padding: 5px 1rem;
    border-radius: 15px;
}
/* #type-global{
    border: solid;
} */
input{
    height: 2rem;
    border-radius: 9 px;
    padding:.5rem;
}
button{
    height: 2rem;
    width: 4rem;
}
.send-button{
    background-color: rgba(0, 0, 255, 0.5);
    color: white;
    border-radius: 9px;
    border: 1px solid black;
}
#first_button{
    margin-left: .3rem;
    background-color: salmon;
    color: white;
    border-radius: 9px;
    border: 1px solid black;
}